<%- include('includes/openHTMLtoast.ejs'); %>

<%- include('includes/navbarPrincipal.ejs'); %>

<main>
    <div class="row center">
        <div class=" col s10  offset-s1 ">
            <h6>Su usuario no tiene acceso a esta pagina</h6>
            <br>
            <a href='/home'>regresar</a>
        </div>
    </div>
</main>

<%- include('includes/closeHTML.ejs'); %>