<%- include('includes/openHTML.ejs'); %>

<%- include('includes/navbarIteracion.ejs'); %>
<main>
<div class="row">
        <div class="col s5 offset-s1">
            <h4 class="center">Horas Equipo</h4>
            <br>
            <table>
                <thead class="h_nominales">
                    <tr>
                        <th></th>
                        <th>Horas</th>
                        <th>Porcentaje</th>
                    </tr>
                </thead>
                <tbody class = "h_nominales">
                    <tr>
                        <td>Horas nominales totales</td>
                        <td>150</td>
                        <td>100 %</td>
                    </tr>
                    <tr>
                        <td>Tiempo perdido</td>
                        <td>22.5</td>
                        <td><input value="15" type="text" class="validate"><span>%</span></td>
                    </tr>
                    <tr>
                        <td>Errores de registro</td>
                        <td>12</td>
                        <td><input value="8" type="text" class="validate"><span>%</span></td>
                    </tr>
                </tbody>
                <tr><td></td><td></td><td></td></tr>
                <tbody class = "h_nominales">
                    <tr>
                        <td>Horas nominales restantes</td>
                        <td>115.5</td>
                        <td>77%</td>
                    </tr>
                    <tr>
                        <td>Overhead</td>
                        <td>23.1</td>
                        <td><input value="20" type="text" class="validate"><span>%</span></td>
                    </tr>
                </tbody>
                <tr><td></td><td></td><td></td></tr>
                <tbody class = "h_nominales">
                    <tr>
                        <td>Horas nominales restantes</td>
                        <td>92.4</td>
                        <td>80%</td>
                    </tr>
                    <tr>
                        <td>Productivas</td>
                        <td>50.8</td>
                        <td><input value="55" type="text" class="validate"><span>%</span></td>
                    </tr>
                    <tr>
                        <td>Operativos</td>
                        <td>23.1</td>
                        <td><input value="25" type="text" class="validate"><span>%</span></td>
                    </tr>
                    <tr>
                        <td>Humano</td>
                        <td>4.6</td>
                        <td> <input value="5" type="text" class="validate"><span>%</span></td>
                    </tr>
                    <tr>
                        <td>CMMI</td>
                        <td>13.9</td>
                        <td><input value="15" type="text" class="validate"><span>%</span></td>
                    </tr>
                </tbody>
                
            </table>
            
            
        </div>
        <!-- Inicia horas proyecto por colaborador -->
        <!-- Inicia horas proyecto por colaborador -->
        <!-- Inicia horas proyecto por colaborador -->
        <!-- Inicia horas proyecto por colaborador -->
        <div class="col s4 offset-s1">
            <h4 class="center">Horas Individual</h4>
            <br>
            <table class="h_proyecto">
                <thead>
                    <tr>
                        <th>Colaborador</th>
                        <th>Horas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Laing</td>
                        <td><input value="5" type="text" class="validate"><span>h</span></td>
                    </tr>
                    <tr>
                        <td>Santi</td>
                        <td><input value="15" type="text" class="validate"><span>h</span></td>
                    </tr>
                    <tr>
                        <td>Tony</td>
                        <td><input value="20" type="text" class="validate"><span>h</span></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Total</td>
                        <td>150 <span>h</span></td>
                    </tr>
                </tfoot>
            </table>
        </div>
</div>
<br><br><br>
</main>
<%- include('includes/closeHTML.ejs'); %>