<%- include('includes/openHTML.ejs'); %>

<%- include('includes/navbarIteracion.ejs'); %>

<div class="row">
    <div class="col s9 offset-s3">
        <div class="col s6">
            <h4>Horas nominales</h4>
            <br>
            <br>
            <div class="row">
                <div class="col s5"></div>
                <div class="col s3">
                    <p class="thick">Horas</p>
                </div>
                <div class="col s3">
                    <p class="thick">Porcentaje</p>
                </div>
            </div>
            <div class="row">
                <div class="col s5 disminuir_margen">
                    <table class="teal lighten-2">
                        <tbody>
                            <tr>    
                                <td>Horas nominales totales</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col s3">
                    <input disabled placeholder="150" type="text" class="validate">
                </div>
                <form class="col s3">
                    <input disabled placeholder="100%" type="text" class="validate">
                </form>
            </div>
            <div class="row">
                <div class="col s5 disminuir_margen">
                    <table class="teal lighten-2">
                        <tbody>
                            <tr>    
                                <td>Tiempo perdido</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col s3">
                    <input disabled placeholder="22.5" type="text" class="validate">
                </div>
                <form class="col s3">
                    <input placeholder="15%" type="text" class="validate">
                </form>
            </div>
            <div class="row">
                <div class="col s5 disminuir_margen">
                    <table class="teal lighten-2">
                        <tbody>
                            <tr>    
                                <td>Errores de registro</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col s3">
                    <input disabled placeholder="12" type="text" class="validate">
                </div>
                <form class="col s3">
                    <input placeholder="8%" type="text" class="validate">
                </form>
            </div>
            <br><br>
            <div class="row">
                <div class="col s5 disminuir_margen">
                    <table class="teal lighten-2">
                        <tbody>
                            <tr>    
                                <td>Horas nominales restantes</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col s3">
                    <input disabled placeholder="115.5" type="text" class="validate">
                </div>
                <form class="col s3">
                    <input disabled placeholder="77%" type="text" class="validate">
                </form>
            </div>
            <div class="row">
                <div class="col s5 disminuir_margen">
                    <table class="teal lighten-2">
                        <tbody>
                            <tr>    
                                <td>Overhead</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col s3">
                    <input disabled placeholder="23.1" type="text" class="validate">
                </div>
                <form class="col s3">
                    <input placeholder="20%" type="text" class="validate">
                </form>
            </div>
            <br><br>
            <div class="row">
                <div class="col s5 disminuir_margen">
                    <table class="teal lighten-2">
                        <tbody>
                            <tr>    
                                <td>Horas nominales restantes</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col s3">
                    <input disabled placeholder="92.4" type="text" class="validate">
                </div>
                <form class="col s3">
                    <input disabled placeholder="80%" type="text" class="validate">
                </form>
            </div>
            <div class="row">
                <div class="col s5 disminuir_margen">
                    <table class="teal lighten-2">
                        <tbody>
                            <tr>    
                                <td>Productivas</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col s3">
                    <input disabled placeholder="50.8" type="text" class="validate">
                </div>
                <form class="col s3">
                    <input placeholder="55%" type="text" class="validate">
                </form>
            </div>
            <div class="row">
                <div class="col s5 disminuir_margen">
                    <table class="teal lighten-2">
                        <tbody>
                            <tr>    
                                <td>Operativos</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col s3">
                    <input disabled placeholder="23.1" type="text" class="validate">
                </div>
                <form class="col s3">
                    <input placeholder="25%" type="text" class="validate">
                </form>
            </div>
            <div class="row">
                <div class="col s5 disminuir_margen">
                    <table class="teal lighten-2">
                        <tbody>
                            <tr>    
                                <td>Humano</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col s3">
                    <input disabled placeholder="4.6" type="text" class="validate">
                </div>
                <form class="col s3">
                    <input placeholder="5%" type="text" class="validate">
                </form>
            </div>
            <div class="row">
                <div class="col s5 disminuir_margen">
                    <table class="teal lighten-2">
                        <tbody>
                            <tr>    
                                <td>CMMI</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col s3">
                    <input disabled placeholder="13.9" type="text" class="validate">
                </div>
                <form class="col s3">
                    <input placeholder="15%" type="text" class="validate">
                </form>
            </div>
        </div>
        <!-- Inicia horas proyecto por colaborador -->
        <!-- Inicia horas proyecto por colaborador -->
        <!-- Inicia horas proyecto por colaborador -->
        <!-- Inicia horas proyecto por colaborador -->
        <div class="col s6">
            <div class="row">
                <div class="col s6 offset-s5">
                    <h4>Horas proyecto</h4>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col s5"></div>
                <div class="col s3">
                    <p class="thick">Colaborador</p>
                </div>
                <div class="col s3">
                    <p class="thick">Horas</p>
                </div>
            </div>
            <div class="row">
                <div class="col s5"></div>
                <div class="col s3">
                    <table class="teal lighten-2">
                        <tbody>
                            <tr>    
                                <td>Laing</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col s3">
                    <input placeholder="5" type="text" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="col s5"></div>
                <div class="col s3">
                    <table class="teal lighten-2">
                        <tbody>
                            <tr>    
                                <td>Santi</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col s3">
                    <input disabled placeholder="20" type="text" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="col s5"></div>
                <div class="col s3">
                    <table class="teal lighten-2">
                        <tbody>
                            <tr>    
                                <td>Tony</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col s3">
                    <input disabled placeholder="20" type="text" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="col s5"></div>
                <div class="col s3">
                    <table class="teal lighten-2">
                        <tbody>
                            <tr>    
                                <td>Pablo V.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col s3">
                    <input disabled placeholder="20" type="text" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="col s5"></div>
                <div class="col s3">
                    <table class="teal lighten-2">
                        <tbody>
                            <tr>    
                                <td>Beto</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col s3">
                    <input disabled placeholder="20" type="text" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="col s5"></div>
                <div class="col s3">
                    <table class="teal lighten-2">
                        <tbody>
                            <tr>    
                                <td>Pablo P.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col s3">
                    <input disabled placeholder="20" type="text" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="col s5"></div>
                <div class="col s3">
                    <table class="teal lighten-2">
                        <tbody>
                            <tr>    
                                <td>Niño</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col s3">
                    <input disabled placeholder="30" type="text" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="col s5"></div>
                <div class="col s3">
                    <table class="teal lighten-2">
                        <tbody>
                            <tr>    
                                <td>Mani</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col s3">
                    <input disabled placeholder="15" type="text" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="col s5"></div>
                <div class="col s3">
                    <table class="teal lighten-2">
                        <tbody>
                            <tr>    
                                <td>Total</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col s3">
                    <input disabled placeholder="150" type="text" class="validate">
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('includes/closeHTML.ejs'); %>