<%- include('includes/openHTML.ejs'); %>

<%- include('includes/navbarProyecto.ejs'); %>


<!-- Set de tres tarjetas -->
<div class="row center">
    <div class="col offset-s3">
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="https://www.esan.edu.pe/conexion/actualidad/2017/10/26/1500x844_portafolio_proyectos.jpg" alt="Proyecto">
                </div>
                <span class="card-title">IT14</span>
                <div class="card-action">
                    <a href="/proyectos/resumen-proyecto">Ir al proyecto</a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="https://hospitalrealsanlucas.com.mx/wp-content/uploads/2020/11/placeholder-1.png" alt="Proyecto">
                </div>
                <span class="card-title">IT15</span>
                <div class="card-action">
                    <a href="#">Ir al proyecto</a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="https://hospitalrealsanlucas.com.mx/wp-content/uploads/2020/11/placeholder-1.png" alt="Proyecto">
                </div>
                <span class="card-title">IT16</span>
                <div class="card-action">
                    <a href="#">Ir al proyecto</a>
                </div>
            </div>
        </div>
    </div>    
</div>


<%- include('includes/closeHTML.ejs'); %>