<%- include('includes/openHTML.ejs'); %>

<%- include('includes/navbarProyecto.ejs'); %>


<!-- Set de tres tarjetas -->
<div class="row center">
    <div class="col offset-s3">
        <% for (let iteracion of iteraciones) { %>
            <div class="col s4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://www.esan.edu.pe/conexion/actualidad/2017/10/26/1500x844_portafolio_proyectos.jpg" alt="Proyecto">
                    </div>
                    <span class="card-title"><%= iteracion.num_iteracion %></span>
                    <div class="card-action">
                        <a href="/proyectos/resumen-proyecto">Ir al la iteracion</a>
                    </div>
                </div>
            </div>
        <% } %>
    
    </div>    
</div>


<%- include('includes/closeHTML.ejs'); %>