<%- include('includes/openHTMLtoast.ejs'); %>

<%- include('includes/navbarPrincipal.ejs'); %>

<main>
    <div class="row center">
        <div class="col s10 offset-s1">
            <div class="row">
                <div class="col s6">
                    <h4>Proyectos</h4>
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/c5c4aGI6OHA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col s6">
                    <h4>Manejo de Usuarios</h4>
                    <div class="video-container">
                        <iframe width="853" height="480" src="https://www.youtube.com/embed/bMja9OKKyWo" frameborder="0" allowfullscreen></iframe>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <h4>Iteraciones</h4>
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/n8k-HHdwxWs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col s6">
                    <h4>Configuración AirTable</h4>
                    <div class="video-container">
                        <iframe width="853" height="480" src="https://www.youtube.com/embed/Go_OTl6zQyk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <h4>Gráficas de AirTable</h4>
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/2OcrEHtiPVo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>    
            </div>
        </div>   
    </div>
    <script>

    </script>

</main>

<%- include('includes/closeHTML.ejs'); %>