<%- include('includes/openHTMLtoast.ejs'); %>

<%- include('includes/navbarPrincipal.ejs'); %>

<main>
    <div class="row center">
                <h3>Titulo video 1</h3>
                <video class="responsive-video" controls>
                    <source src="//www.youtube.com/watch?v=Jh25Rmk3Okk">
                </video>
                <h3>Titulo video 2</h3>
                <video class="responsive-video" controls>
                    <source src="//www.youtube.com/watch?v=Jh25Rmk3Okk">
                </video>
                <h3>Titulo video 3</h3>
                <video class="responsive-video" controls>
                    <source src="//www.youtube.com/watch?v=Jh25Rmk3Okk">
                </video>
    </div>   

    <script>
    </script>

</main>

<%- include('includes/closeHTML.ejs'); %>