<%- include('includes/openHTML.ejs'); %>

    <%- include('includes/navbarProyecto.ejs'); %>

    <div class="row">
        <div class="col s9 offset-s3" >
            <table class="highlight">
              <thead>
                <tr>
                    <th>Fases</th>
                    <th>Tareas</th>
                    <th>1</th>
                    <th>1</th>
                    <th>2</th>
                    <th>2</th>
                    <th>3</th>
                    <th>3</th>
                    <th>5</th>
                    <th>5</th>
                    <th>8</th>
                    <th>8</th>
                    <th>13</th>
                    <th>13</th>
                </tr>
              </thead>
      
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td>max</td>
                  <td>min</td>
                  <td>max</td>
                  <td>min</td>
                  <td>max</td>
                  <td>min</td>
                  <td>max</td>
                  <td>min</td>
                  <td>max</td>
                  <td>min</td>
                  <td>max</td>
                  <td>min</td>
                </tr>
                <tr>
                    <td>Análisis</td>
                    <td>Test Cases</td>
                    <td>5.8</td>
                    <td>8.6</td>
                    <td>7.4</td>
                    <td>12.2</td>
                    <td>9</td>
                    <td>18</td>
                    <td>12.8</td>
                    <td>24</td>
                    <td>20</td>
                    <td>32.2</td>
                    <td>27</td>
                    <td>41</td>
                  </tr>
                  <tr>
                    <td>Análisis</td>
                    <td>Verificación</td>
                    <td>5.8</td>
                    <td>9.6</td>
                    <td>6.8</td>
                    <td>11.8</td>
                    <td>9.2</td>
                    <td>16</td>
                    <td>12.4</td>
                    <td>19</td>
                    <td>14</td>
                    <td>23</td>
                    <td>20</td>
                    <td>30</td>
                  </tr>
                  <tr>
                    <td>Diseño</td>
                    <td>Wireframes</td>
                    <td>7.6</td>
                    <td>15.4</td>
                    <td>9.6</td>
                    <td>18.4</td>
                    <td>14.4</td>
                    <td>25</td>
                    <td>20.4</td>
                    <td>32</td>
                    <td>26.2</td>
                    <td>41</td>
                    <td>32</td>
                    <td>52</td>
                  </tr>
                  <tr>
                    <td>Diseño</td>
                    <td>Algoritmos</td>
                    <td>8</td>
                    <td>14</td>
                    <td>10</td>
                    <td>17.4</td>
                    <td>13</td>
                    <td>23</td>
                    <td>18</td>
                    <td>35</td>
                    <td>25</td>
                    <td>49</td>
                    <td>33</td>
                    <td>68</td>
                  </tr>
                  <tr>
                    <td>Diseño</td>
                    <td>Diagrama de componentes</td>
                    <td>8</td>
                    <td>13</td>
                    <td>11</td>
                    <td>16</td>
                    <td>14</td>
                    <td>23</td>
                    <td>18</td>
                    <td>32</td>
                    <td>25</td>
                    <td>40</td>
                    <td>33</td>
                    <td>49</td>
                  </tr>
                  <tr>
                    <td>Diseño</td>
                    <td>Actualizar Documentación</td>
                    <td>1.6</td>
                    <td>3.6</td>
                    <td>2.6</td>
                    <td>5</td>
                    <td>4.2</td>
                    <td>7</td>
                    <td>6</td>
                    <td>9</td>
                    <td>8</td>
                    <td>11</td>
                    <td>9.6</td>
                    <td>18</td>
                  </tr>
                  <tr>
                    <td>Diseño</td>
                    <td>Validación del diseño</td>
                    <td>7.6</td>
                    <td>21</td>
                    <td>10.8</td>
                    <td>22.6</td>
                    <td>16.2</td>
                    <td>28</td>
                    <td>25</td>
                    <td>40.6</td>
                    <td>29</td>
                    <td>49</td>
                    <td>30.4</td>
                    <td>53</td>
                  </tr>
                <tr>
                  <td>Implementación</td>
                  <td>Modelo DB</td>
                  <td>7</td>
                  <td>17</td>
                  <td>9</td>
                  <td>21</td>
                  <td>15</td>
                  <td>28</td>
                  <td>19</td>
                  <td>38</td>
                  <td>27</td>
                  <td>48</td>
                  <td>34</td>
                  <td>68</td>
                </tr>
                <tr>
                    <td>Implementación</td>
                    <td>Backend</td>
                    <td>22</td>
                    <td>46</td>
                    <td>28</td>
                    <td>65</td>
                    <td>44</td>
                    <td>95</td>
                    <td>74</td>
                    <td>138</td>
                    <td>114</td>
                    <td>218</td>
                    <td>164</td>
                    <td>324</td>
                  </tr>
                  <tr>
                    <td>Implementación</td>
                    <td>Frontend</td>
                    <td>22</td>
                    <td>61</td>
                    <td>36</td>
                    <td>94</td>
                    <td>68</td>
                    <td>161</td>
                    <td>115</td>
                    <td>203</td>
                    <td>185</td>
                    <td>281</td>
                    <td>267</td>
                    <td>435</td>
                  </tr>
                  <tr>
                    <td>Implementación</td>
                    <td>Matriz de trazabilidad</td>
                    <td>6</td>
                    <td>11.6</td>
                    <td>6.8</td>
                    <td>14.4</td>
                    <td>9.6</td>
                    <td>19</td>
                    <td>12.6</td>
                    <td>21.6</td>
                    <td>16</td>
                    <td>25</td>
                    <td>19</td>
                    <td>32</td>
                  </tr>
                  <tr>
                    <td>Implementación</td>
                    <td>Verificación</td>
                    <td>9</td>
                    <td>19</td>
                    <td>11</td>
                    <td>24</td>
                    <td>19</td>
                    <td>31</td>
                    <td>24</td>
                    <td>41</td>
                    <td>32</td>
                    <td>54</td>
                    <td>45</td>
                    <td>73</td>
                  </tr>
                  <tr>
                    <td>Implementación</td>
                    <td>Validación</td>
                    <td>7</td>
                    <td>14</td>
                    <td>10</td>
                    <td>16</td>
                    <td>14</td>
                    <td>22</td>
                    <td>18</td>
                    <td>30</td>
                    <td>26</td>
                    <td>40</td>
                    <td>36</td>
                    <td>54</td>
                  </tr>
                  <tr>
                    <td>Implementación</td>
                    <td>Manual de Usuario</td>
                    <td>8.2</td>
                    <td>18</td>
                    <td>13</td>
                    <td>26.6</td>
                    <td>20.6</td>
                    <td>32.4</td>
                    <td>30</td>
                    <td>44</td>
                    <td>40</td>
                    <td>57</td>
                    <td>51</td>
                    <td>72</td>
                  </tr>
                  <tr>
                    <td>Pruebas</td>
                    <td>Manual de Arquitectura</td>
                    <td>6.2</td>
                    <td>13</td>
                    <td>9</td>
                    <td>15</td>
                    <td>13</td>
                    <td>22</td>
                    <td>20</td>
                    <td>30</td>
                    <td>32</td>
                    <td>43</td>
                    <td>44</td>
                    <td>57</td>
                  </tr>
                  <tr>
                    <td>Pruebas</td>
                    <td>Pruebas de Integración</td>
                    <td>14</td>
                    <td>23</td>
                    <td>18</td>
                    <td>30</td>
                    <td>28</td>
                    <td>42</td>
                    <td>38</td>
                    <td>62</td>
                    <td>60</td>
                    <td>88</td>
                    <td>84</td>
                    <td>122</td>
                  </tr>
                  <tr>
                    <td>Pruebas</td>
                    <td>Pruebas de Usabilidad</td>
                    <td>8</td>
                    <td>13</td>
                    <td>11</td>
                    <td>21</td>
                    <td>17</td>
                    <td>29</td>
                    <td>21</td>
                    <td>35</td>
                    <td>27</td>
                    <td>40</td>
                    <td>31</td>
                    <td>51</td>
                  </tr>
                  <tr>
                    <td>Pruebas</td>
                    <td>Pruebas de Seguridad</td>
                    <td>10</td>
                    <td>20</td>
                    <td>19</td>
                    <td>30</td>
                    <td>28</td>
                    <td>38</td>
                    <td>40</td>
                    <td>52</td>
                    <td>48</td> 
                    <td>82</td>
                    <td>76</td>
                    <td>120</td>
                  </tr> 
              </tbody>
            </table>
          </div>
    </div>



<%- include('includes/closeHTML.ejs'); %>