<%- include('includes/openHTMLtoast.ejs'); %>

<div class="row">
    <div class="col s6 offset-s3">

        <div class="card  card_login">
            <div class="card-image">
                <div class="row">
                    <div class="col s2 offset-s3">
                        <img class="imagen_login" src="https://storage.googleapis.com/natgas/others/logos/natgas-logo-simple.png">
                    </div>
                    <div class="col s6 ">
                        <h1 class="responsive_title_login">Natgas</h1>
                    </div>
                </div>
            </div>
            <div class="card-content">
                <h4 class="responsive_text_login center" ><%= title %></h4>
                <br>
                <form action="/users/register" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                  
                    <div class="row">
                        <div class="input-field col s8 offset-s2 ">
                            <i class="material-icons prefix ">person</i>
                            <input type="text" name="nombre" placeholder="Nombre" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8 offset-s2 ">
                            <i class="material-icons prefix ">account_circle</i>
                            <input type="text" name="usuario" placeholder="Nombre de usuario" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8 offset-s2">
                            <i class="material-icons prefix">lock</i>
                            <input type="password" name="password" placeholder="Contraseña" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8 offset-s5">
                            <button type="submit" class= "waves-effect waves-green btn login-btn " name="action">Registrar</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>


<%- include('includes/closeHTMLtoast.ejs'); %>