<%- include('includes/openHTML.ejs'); %>
<%- include('includes/navbarIteracion.ejs'); %>

<main>
        <form action="/proyectos/terminar-iteracion" method="POST">
            <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>" >
            <div class="row">
                <div class="col s12 offset-s9">
                    <button class="waves-effect waves-light btn" type="submit">Terminar iteración</button>
                </div>
            </div>
        </form>
    <div class="row">
        <div class="col 12 offset-s1">
            <div class="center-align">
                <h1 class="flow-text">IT14</h1>
                <img class="responsive-img" width="40%"
                    src="https://www.esan.edu.pe/conexion/actualidad/2017/10/26/1500x844_portafolio_proyectos.jpg"
                    alt="Trabajo en equipo">
            </div>
            <div class="container">
                <div class="row">
                    <div class="card">
                        <h2 class="card-title flow-text">Objetivos:</h2>
                        <div class="card-content">
                            <p>Los objetivos son los resultados deseados que se esperan
                                alcanzar con la ejecución de las actividades que integran un
                                proyecto, empresa o entidad. Medibles o cuantificables.</p>
                        </div>
                    </div>
                </div>
                <h2 class="flow-text">Objetivos:</h2>
                <p>Los objetivos son los resultados deseados que se esperan
                    alcanzar con la ejecución de las actividades que integran un
                    proyecto, empresa o entidad. Medibles o cuantificables.</p>
                <div class="row">
                    <div class="col s6 m6 l6">
                        <div class="card">
                            <h2 class="card-title flow-text">Estimación de tiempo:</h2>
                            <div class="card-content">
                                <p>Total en Minutos: <span>30</span></p>
                                <p>Total en Horas: <span>30</span></p>
                                <p>Horas semanales de capacidad: <span>30</span></p>
                                <p>Total en Semanas: <span>30</span></p>
                                <p>Total en Meses: <span>30</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col s6 m6 l6">
                        <div class="card">
                            <h2 class="card-title flow-text">Proyección de avances:</h2>
                            <div class="card-content">
                                <div class="center-align">
                                    <img class="responsive-img" width="40%"
                                        src="https://datoweb.com/img/post/3_71_calendario-html.jpg"
                                        alt="Calendario">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>   

<%- include('includes/closeHTML.ejs'); %>