<%- include('includes/openHTML.ejs'); %>
<%- include('includes/navbar.ejs'); %>
<main>
<div>
    <div class="row">
        <div class="col s6 offset-s3">
            <h2>Tareas por Caso de Uso</h2>
        </div>
    </div>
    <hr>
    <br>
    <div class="row container">
        <div class="col s6 m6 l6" id="tabla_caso_uso_tareas">
            <table class="highlight">
                <thead>
                <tr>
                    <th class="center-align">Quiero</th>
                </tr>
                </thead>
        
                <tbody>
                <tr>
                    <td>consultar preaprobación con el método FICO</td>
                </tr>
                <tr>
                    <td>crear solicitudes de kit de conversión en Impúlsate desde Orígenes</td>
                </tr>
                <tr>
                    <td>ver las solicitudes que requieren agendar visita de preaprobación</td>
                </tr>
                <tr>
                    <td>ver las solicitudes que ya tienen cita</td>
                </tr>
                <tr>
                    <td>ver las solicitudes que ya tienen cita</td>
                </tr>
                <tr>
                    <td>ver las solicitudes que ya tienen cita</td>
                </tr>
                <tr>
                    <td>ver las solicitudes que ya tienen cita</td>
                </tr>
                <tr>
                    <td>ver las solicitudes que ya tienen cita</td>
                </tr>
                </tbody>
            </table>
        </div>




        <div class="col s6 m6 l6">
            <div id="fasesVert" class="container">
                <div id="faseVert" class="center-align">
                    <div id="titulo-fase">
                        <span class="">Análisis:</span>
                    </div>
                    <div>
                        <div id="tarea-en-fase">
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" />
                                <span>Test Cases</span>
                            </label>
                            
                        </div>
                        <div id="tarea-en-fase">
                            <label>
                            <input type="checkbox" class="filled-in" checked="checked" />
                                <span>Verificación</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div id="faseVert" class="center-align">
                    <div id="titulo-fase">
                        <span class="">Diseño:</span>
                    </div>
                    <div>
                        <div id="tarea-en-fase">
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" />
                                <span>Wireframes</span>
                            </label>
                        </div>
                        <div id="tarea-en-fase">
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" />
                                <span>Algoritmo</span>
                            </label>
                        </div>
                        <div id="tarea-en-fase">
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" />
                                <span>Actualizar documentación</span>
                            </label>
                        </div>
                        <div id="tarea-en-fase">
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" />
                                <span>Diagrama de Componentes</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div id="faseVert" class="center-align">
                    <div id="titulo-fase">
                        <span class="">Implementación:</span>
                    </div>
                    <div>
                        <div id="tarea-en-fase">
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" />
                                <span>BackEnd</span>
                            </label>
                        </div>
                        <div id="tarea-en-fase">
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" />
                                <span>FrontEnd</span>
                            </label>
                        </div>
                        <div id="tarea-en-fase">
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" />
                                <span>Matriz de Trazabilidad</span>
                            </label>
                        </div>
                        <div id="tarea-en-fase">
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" />
                                <span>Verificación</span>
                            </label>
                        </div>
                        <div id="tarea-en-fase">
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" />
                                <span>Validación</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div id="faseVert" class="center-align">
                    <div id="titulo-fase">
                        <span class="">Pruebas:</span>
                    </div>
                    <div>
                        <div id="tarea-en-fase">
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" />
                                <span>Pruebas de Usabilidad</span>
                            </label>
                        </div>
                        <div id="tarea-en-fase">
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" />
                                <span>Pruebas de Seguridad</span>
                            </label>
                        </div>
                        <div id="tarea-en-fase">
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" />
                                <span>Pruebas de Integración</span>
                            </label>
                        </div>
                    </div>
                </div>


                <div id="faseVert" class="center-align">
                    <div id="titulo-fase">
                        <span class="">Diseño:</span>
                    </div>
                    <div>
                        <div id="tarea-en-fase">
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" />
                                <span>Wireframes</span>
                            </label>
                        </div>
                        <div id="tarea-en-fase">
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" />
                                <span>Algoritmo</span>
                            </label>
                        </div>
                        <div id="tarea-en-fase">
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" />
                                <span>Actualizar documentación</span>
                            </label>
                        </div>
                        <div id="tarea-en-fase">
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" />
                                <span>Diagrama de Componentes</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div id="faseVert" class="center-align">
                    <div id="titulo-fase">
                        <span class="">Implementación:</span>
                    </div>
                    <div>
                        <div id="tarea-en-fase">
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" />
                                <span>BackEnd</span>
                            </label>
                        </div>
                        <div id="tarea-en-fase">
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" />
                                <span>FrontEnd</span>
                            </label>
                        </div>
                        <div id="tarea-en-fase">
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" />
                                <span>Matriz de Trazabilidad</span>
                            </label>
                        </div>
                        <div id="tarea-en-fase">
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" />
                                <span>Verificación</span>
                            </label>
                        </div>
                        <div id="tarea-en-fase">
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" />
                                <span>Validación</span>
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


            

</div>
</main>


<%- include('includes/closeHTML.ejs'); %>