<%- include('includes/openHTML.ejs') %>
    <% for (elemento of workitemlist) { %>
        <p><%=elemento.name%></p>
        <% if (elemento.assigned) { %>
            <% for(persona of elemento.assigned) { %>
                <span><%=persona.name%></span>
            <% } %>
        <% } %>
    <% } %>
    <h3>Chart</h3>
    <div class="row">
        <div class="col s6">
            <canvas id="myChart"></canvas>
        </div>
    </div>

    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [{
                    fill: false,
                    //borderDash: [5, 5],
                    label: 'My First dataset',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [0, 10, 5, 2, 20, 30, 45]
                },
                {
                    fill: false,
                    //borderDash: [5, 5],
                    label: 'My Second dataset',
                    backgroundColor: 'rgb(0, 300, 132)',
                    borderColor: 'rgb(0, 300, 132)',
                    data: [45, 33, 10, 8, 22, 2, 5]
                }]
            },

            // Configuration options go here
            options: {
                elements:{
                    line:{
                        tension:0
                    }
                },
                responsive:true
            }
        });
    </script>


<%- include('includes/closeHTML.ejs') %>