<%- include('includes/openHTML.ejs'); %>

<%- include('includes/navbar.ejs'); %>

<div class="row">
    <form class="col s12 offset-s3">
        <div class="row">
            <div class="input-field col 1">
              <input id="yo_como" type="text" class="validate">
              <label for="yo_como">Yo como</label>
            </div>
            <div class="input-field col 1">
                <input id="quiero" type="text" class="validate">
                <label for="quiero">quiero</label>
            </div>
            <div class="input-field col 1">
                <input id="para" type="text" class="validate">
                <label for="para">para</label>
            </div>
            <div class="input-field col 1">
                <input id="AP" type="text" class="validate">
                <label for="AP">AP</label>
            </div>
            <div class="input-field col 2">
                <input type="submit" value="Registrar" id="boton_casos_uso">
            </div>
        </div>
    </form>

    <div class="col s12 offset-s3" id="tabla_caso_uso">
      <table class="highlight">
        <thead>
          <tr>
              <th>Yo como</th>
              <th class="center-align">quiero</th>
              <th class="center-align">para</th>
              <th class="center-align">AP</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>comercial</td>
            <td>consultar preaprobación con el método FICO</td>
            <td>saber si continuar o no con una solicitud</td>
            <td>13</td>
          </tr>
          <tr>
            <td>comercial</td>
            <td>crear solicitudes de kit de conversión en Impúlsate desde Orígenes</td>
            <td>sentir que los sistemas están conectados y agilizar el proceso</td>
            <td>5</td>
          </tr>
          <tr>
            <td>mesa de prospectos</td>
            <td>ver las solicitudes que requieren agendar visita de preaprobación</td>
            <td>agendar visita de preaprobación</td>
            <td>3</td>
          </tr>
          <tr>
            <td>mesa de prospectos</td>
            <td>ver las solicitudes que ya tienen cita</td>
            <td>que dependiendo del resultado de la visita pueda preaprobar o no las solicitudes</td>
            <td>3</td>
          </tr>
          <tr>
            <td>mesa de prospectos</td>
            <td>ver las solicitudes que ya tienen cita</td>
            <td>que dependiendo del resultado de la visita pueda preaprobar o no las solicitudes</td>
            <td>3</td>
          </tr>
          <tr>
            <td>mesa de prospectos</td>
            <td>ver las solicitudes que ya tienen cita</td>
            <td>que dependiendo del resultado de la visita pueda preaprobar o no las solicitudes</td>
            <td>3</td>
          </tr>
          <tr>
            <td>mesa de prospectos</td>
            <td>ver las solicitudes que ya tienen cita</td>
            <td>que dependiendo del resultado de la visita pueda preaprobar o no las solicitudes</td>
            <td>3</td>
          </tr>
          <tr>
            <td>mesa de prospectos</td>
            <td>ver las solicitudes que ya tienen cita</td>
            <td>que dependiendo del resultado de la visita pueda preaprobar o no las solicitudes</td>
            <td>3</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>


<%- include('includes/closeHTML.ejs'); %>