<%- include('includes/openHTML.ejs'); %>
<%- include('includes/navbar.ejs'); %>

<div class="row">

    <div class="row">
        <div class="col s6 offset-s3">
            <h2>Fases del proyecto</h2>
        </div>
    </div>
    
    <div class="row">
    
        <div class="col s2 offset-s3">
            <table class="highlight teal lighten-2">
                <thead>
                    <tr>
                        <th>Análisis</th>
                    </tr>
                  </thead>
            <tbody>
                <tr>    
                <td>Test Cases</td>
                </tr>
                <tr>
                <td>Verificación</td>
                </tr>
            </tbody>
            </table>
            <div class="col s2 offset-s4">
                <a class="btn-floating green lighten-1 pulse boton_añadir"><i class="material-icons">add</i></a>
            </div>
        </div>
        <div class="col s2" >
            <table class="highlight teal lighten-3">
                <thead>
                    <tr>
                        <th>Diseño</th>
                    </tr>
                  </thead>
            <tbody>
                <tr>    
                <td>Wireframes</td>
                </tr>
                <tr>
                <td>Algoritmo</td>
                </tr>
                <tr>
                <td>Actualizar Documentacion</td>
                </tr>
                <tr>
                <td>Diagrama de componentes</td>
                </tr>
            </tbody>
            </table>
        </div>
        <div class="col s2" >
            <table class="highlight teal lighten-4">
                <thead>
                    <tr>
                        <th>Implementación</th>
                    </tr>
                  </thead>
            <tbody>
                <tr>    
                <td>Backend</td>
                </tr>
                <tr>
                <td>Frontend</td>
                </tr>
                <tr>
                <td>Validación</td>
                </tr>
            </tbody>
            </table>
        </div>
        <div class="col s2" >
            <table class="highlight teal lighten-5">
                <thead>
                    <tr>
                        <th>Pruebas</th>
                    </tr>
                  </thead>
            <tbody>
                <tr>    
                <td>Pruebas de usabilidad</td>
                </tr>
                <tr>
                <td>Pruebas de Seguridad</td>
                </tr>
            </tbody>
            </table>
        </div>
    
    </div>

</div>



<%- include('includes/closeHTML.ejs'); %>