<%- include('includes/openHTML.ejs'); %>

<div class="row">
    <div class="col s2 m2 l2 right">
        <div class="search-wrapper">
            <input id="search" placeholder="Search">
            <i class="material-icons"></i>
            <div class="search-results">
            </div>
        </div>
    </div>
</div>

<!-- Set de tres tarjetas -->
<div class="row center">
    <div class="col offset-m3 offset-l3">
        <div class="col s2 m2 l2">
            <div class="card">
                <div class="card-image">
                    <img src="https://hospitalrealsanlucas.com.mx/wp-content/uploads/2020/11/placeholder-1.png" alt="Proyecto">
                </div>
                <span class="card-title">Título del proyecto</span>
                <div class="card-action">
                    <a href="#">Ir al proyecto</a>
                </div>
            </div>
        </div>
        <div class="col s2 m2 l2">
            <div class="card">
                <div class="card-image">
                    <img src="https://hospitalrealsanlucas.com.mx/wp-content/uploads/2020/11/placeholder-1.png" alt="Proyecto">
                </div>
                <span class="card-title">Título del proyecto</span>
                <div class="card-action">
                    <a href="#">Ir al proyecto</a>
                </div>
            </div>
        </div>
        <div class="col s2 m2 l2">
            <div class="card">
                <div class="card-image">
                    <img src="https://hospitalrealsanlucas.com.mx/wp-content/uploads/2020/11/placeholder-1.png" alt="Proyecto">
                </div>
                <span class="card-title">Título del proyecto</span>
                <div class="card-action">
                    <a href="#">Ir al proyecto</a>
                </div>
            </div>
        </div>
    </div>    
</div>

<!-- Fin de primer set de tarjetas -->

<div class="row center">
    <div class="col offset-m3 offset-l3">
        <div class="col s2 m2 l2">
            <div class="card">
                <div class="card-image">
                    <img src="https://hospitalrealsanlucas.com.mx/wp-content/uploads/2020/11/placeholder-1.png" alt="Proyecto">
                </div>
                <span class="card-title">Título del proyecto</span>
                <div class="card-action">
                    <a href="#">Ir al proyecto</a>
                </div>
            </div>
        </div>
        <div class="col s2 m2 l2">
            <div class="card">
                <div class="card-image">
                    <img src="https://hospitalrealsanlucas.com.mx/wp-content/uploads/2020/11/placeholder-1.png" alt="Proyecto">
                </div>
                <span class="card-title">Título del proyecto</span>
                <div class="card-action">
                    <a href="#">Ir al proyecto</a>
                </div>
            </div>
        </div>
        <div class="col s2 m2 l2">
            <div class="card">
                <div class="card-image">
                    <img src="https://hospitalrealsanlucas.com.mx/wp-content/uploads/2020/11/placeholder-1.png" alt="Proyecto">
                </div>
                <span class="card-title">Título del proyecto</span>
                <div class="card-action">
                    <a href="#">Ir al proyecto</a>
                </div>
            </div>
        </div>
    </div>    
</div>

<!-- Fin de segundo set de tarjetas -->

<div class="row center">
    <div class="col offset-m3 offset-l3">
        <div class="col s2 m2 l2">
            <div class="card">
                <div class="card-image">
                    <img src="https://hospitalrealsanlucas.com.mx/wp-content/uploads/2020/11/placeholder-1.png" alt="Proyecto">
                </div>
                <span class="card-title">Título del proyecto</span>
                <div class="card-action">
                    <a href="#">Ir al proyecto</a>
                </div>
            </div>
        </div>
        <div class="col s2 m2 l2">
            <div class="card">
                <div class="card-image">
                    <img src="https://hospitalrealsanlucas.com.mx/wp-content/uploads/2020/11/placeholder-1.png" alt="Proyecto">
                </div>
                <span class="card-title">Título del proyecto</span>
                <div class="card-action">
                    <a href="#">Ir al proyecto</a>
                </div>
            </div>
        </div>
        <div class="col s2 m2 l2">
            <div class="card">
                <div class="card-image">
                    <img src="https://hospitalrealsanlucas.com.mx/wp-content/uploads/2020/11/placeholder-1.png" alt="Proyecto">
                </div>
                <span class="card-title">Título del proyecto</span>
                <div class="card-action">
                    <a href="#">Ir al proyecto</a>
                </div>
            </div>
        </div>
    </div>    
</div>

<!-- Fin de tercer set de tarjetas -->

<%- include('includes/closeHTML.ejs'); %>