<%- include('includes/openHTML.ejs'); %>
    <header>
        <h1>Añade tu producto</h1>
    </header>
    <form action= "/login" method= "POST">
        <input type="text" name= "username">
        <input type="password" name= "password">
        <input type="submit" value= "Guardar producto">
    </form>
    
<%- include('includes/closeHTML.ejs'); %>
