<%- include('includes/openHTML.ejs'); %>
<%- include('includes/navbar.ejs'); %>
<main>
<div>

    <div class="row">
        <div class="col s6 offset-s3">
            <h2>Tareas por Caso de Uso</h2>
        </div>
    </div>
    
    <div class="row">
        <div class="col s6 m6 l6">
            
        </div>
        <div class="col s6 m6 l6">

        </div>
    </div>


    <div id="fasesVert" class="container">
        <div id="fase" class="center-align">
            <div id="titulo-fase">
                <span class="">Análisis:</span>
            </div>
            <div>
                <div id="tarea-en-fase">
                    <span>Test Cases</span>
                </div>
                <div id="tarea-en-fase">
                    <span class="">Verificación</span>
                </div>
            </div>
            <div>
                <a class="btn-floating cyan lighten-1 pulse boton_añadir"><i class="material-icons">add</i></a>
            </div>
        </div>

        <div id="fase" class="center-align">
            <div id="titulo-fase">
                <span class="">Diseño:</span>
            </div>
            <div>
                <div id="tarea-en-fase">
                    <span>Wireframes</span>
                </div>
                <div id="tarea-en-fase">
                    <span class="">Algoritmo</span>
                </div>
                <div id="tarea-en-fase">
                    <span class="">Actualizar documentación</span>
                </div>
                <div id="tarea-en-fase">
                    <span class="">Diagrama de Componentes</span>
                </div>
            </div>
            <div>
                <a class="btn-floating cyan pulse boton_añadir"><i class="material-icons">add</i></a>
            </div>
        </div>

        <div id="fase" class="center-align">
            <div id="titulo-fase">
                <span class="">Implementación:</span>
            </div>
            <div>
                <div id="tarea-en-fase">
                    <span>BackEnd</span>
                </div>
                <div id="tarea-en-fase">
                    <span class="">FrontEnd</span>
                </div>
                <div id="tarea-en-fase">
                    <span class="">Matriz de Trazabilidad</span>
                </div>
                <div id="tarea-en-fase">
                    <span class="">Verificación</span>
                </div>
                <div id="tarea-en-fase">
                    <span class="">Validación</span>
                </div>
            </div>
            <div>
                <a class="btn-floating cyan pulse boton_añadir"><i class="material-icons">add</i></a>
            </div>
        </div>

        <div id="fase" class="center-align">
            <div id="titulo-fase">
                <span class="">Pruebas:</span>
            </div>
            <div>
                <div id="tarea-en-fase">
                    <span>Pruebas de Usabilidad</span>
                </div>
                <div id="tarea-en-fase">
                    <span class="">Pruebas de Seguridad</span>
                </div>
                <div id="tarea-en-fase">
                    <span class="">Pruebas de Integración</span>
                </div>
            </div>
            <div>
                <a class="btn-floating cyan pulse boton_añadir"><i class="material-icons">add</i></a>
            </div>
        </div>

        <div id="fase" class="center-align">
            <div id="titulo-fase">
                <span class="">Análisis:</span>
            </div>
            <div>
                <div id="tarea-en-fase">
                    <span>Test Cases</span>
                </div>
                <div id="tarea-en-fase">
                    <span class="">Verificación</span>
                </div>
            </div>
            <div>
                <a class="btn-floating cyan pulse boton_añadir"><i class="material-icons">add</i></a>
            </div>
        </div>

        <div id="fase" class="center-align">
            <div id="titulo-fase">
                <span class="">Diseño:</span>
            </div>
            <div>
                <div id="tarea-en-fase">
                    <span>Wireframes</span>
                </div>
                <div id="tarea-en-fase">
                    <span class="">Algoritmo</span>
                </div>
                <div id="tarea-en-fase">
                    <span class="">Actualizar documentación</span>
                </div>
                <div id="tarea-en-fase">
                    <span class="">Diagrama de Componentes</span>
                </div>
            </div>
            <div>
                <a class="btn-floating cyan pulse boton_añadir"><i class="material-icons">add</i></a>
            </div>
        </div>


        <div id="fase" class="center-align">
            <div id="titulo-fase">
                <span class="">Análisis:</span>
            </div>
            <div>
                <div id="tarea-en-fase">
                    <span>Test Cases</span>
                </div>
                <div id="tarea-en-fase">
                    <span class="">Verificación</span>
                </div>
            </div>
            <div>
                <a class="btn-floating cyan pulse boton_añadir"><i class="material-icons">add</i></a>
            </div>
        </div>

    </div>

</div>
</main>


<%- include('includes/closeHTML.ejs'); %>