.nav-wrapper{
    background-color: #f8f8f8;
}

#contenedor_colaboradores{
    border: 100px !important;
    border-color: rgb(56, 56, 56);
}

.imagen_estandar{
    width: 10%;
    height: 50px;
}

#boton_casos_uso{
    margin-top: 7%;
}

/* Tabla de los casos de uso */
.tabla_cu {
    table-layout: fixed;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 500px;
    background-color: white;
}

.tabla_cu thead th {
    padding-left: 15px;
    position: sticky;
    top: 0;
    background-color: #343434;
    color: white;
    font-weight: bold;
}

.tabla_cu td {
    padding-left: 15px;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}

.tabla_cu tr {
    color:#343434;
}

.tabla_cu tr:hover{
    background-color: #f5f5f5;
}

.row-idCasos-ap {
    width: 6.5%;
}

.row-yo_como {
    width: 12.5%;
}

.row-quiero-para {
    width: 25.25%;
} 

.row-botones {
    width: 8%;
}

.row-idCaso-Tarea {
    width: 15%;
}

.row-quiero {
    width: 75%;
}

.row-botonTareas {
    width: 10%;
}

/* Tareas por caso de uso */
#tabla_caso_uso_tareas{
    max-height: 500px;
    width: 50%;
    overflow: scroll;
}

#tabla_avance {
    max-height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}

#tabla_avance thead th{
    position: sticky;
    top: 0;
    background-color: #343434;
    color: white;
    font-weight: 500;
}

#tabla_avance tbody{
    background-color: white 
}

#tabla_avance table td {
    text-align: center;
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

html, body {
    height: 100%;
}

.no-scroll{
    overflow-y: hidden;
}

.bajar_tabla{
    margin-top: 10%;
}

.disminuir_margen{
    height: 0px;
}

.disminuir_padding{
    padding: -20px;
}

.thick{
    font-weight: bold;
}

div#modal5 {
    width: 50%
}

.breadcrumb{
    color: #343434;
    font-size: 17px;
    text-decoration-line: underline;
}

.breadcrumb:before{
    color: #343434;
    font-size: 20px;
}

.breadcrumb:last-child {
    font-weight: bold;
    color: #343434;
    text-decoration-line: none;
}

.logout{
    position:fixed; 
    bottom: 10%;
}

.modal_edit{
    width: 20%;
}

.terminarIteracion{
    position:fixed; 
    bottom: 15%;
}

.imagen_card{
    max-height: 150px;
    width: auto;
}

#AvanceIteracion{
    background-color: #ffff;
}

.d-content{
    display: contents;
}

/* AP Promedios */
.ap_promedios {
    table-layout: fixed;
    width: 100%;
    /* overflow-y: hidden;
    overflow-x: hidden; */
    max-height: 500px;

    align-items: center;
    background-color: white;
    padding-bottom: 5px;
}

.ap_promedios th{
    position: sticky;
    top: 0;
    background-color: #343434;
    color: white;
    text-align: center;
    font-weight: bold;
}

.ap_promedios tr:hover{
    background-color: #f5f5f5;
}

.ap_promedios tr{
    text-align: center;
    color:#343434;
}

.ap_promedios td{
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}

.ap_promedios tr td:nth-child(1){
    text-align: center;
    font-size: 15px;
    font-weight: normal;
}

.ap_promedios tr td:nth-child(2){
    padding: 30px;
    text-align: center;
}

.ap_promedios tr td:nth-child(3),
.ap_promedios tr td:nth-child(4),
.ap_promedios tr td:nth-child(5),
.ap_promedios tr td:nth-child(6),
.ap_promedios tr td:nth-child(7),
.ap_promedios tr td:nth-child(8)
{
    text-align: center;
}

.ap_promedios tr td:nth-child(3) input,
.ap_promedios tr td:nth-child(4) input,
.ap_promedios tr td:nth-child(5) input,
.ap_promedios tr td:nth-child(6) input,
.ap_promedios tr td:nth-child(7) input,
.ap_promedios tr td:nth-child(8) input
{
    width: 50%;
    padding: 0;
    margin: auto;
    text-align: center;
}

.column-nombre-fase {
    width: 15%;
}

.column-nombre-tarea {
    width: 25%;
}

.column-estimacionAP {
    width: 10%;
}

#modalAirTable{
    width: 30%;
}