
#contenedor_colaboradores{
    border: 100px !important;
    border-color: rgb(56, 56, 56);
}

.imagen_estandar{
    width: 10%;
    height: 50px;
}

#boton_casos_uso{
    margin-top: 7%;
}

/* Tabla de los casos de uso */
.tabla_cu {
    table-layout: fixed;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 400px;
}

.tabla_cu thead th {
    position: sticky;
    top: 0;
    background-color: azure;
}

.tabla_cu td {
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}

.row-idCasos-ap {
    width: 6.5%;
}

.row-yo_como {
    width: 12.5%;
}

.row-quiero-para {
    width: 25.25%;
} 

.row-botones {
    width: 8%;
}

.row-idCaso-Tarea {
    width: 15%;
}
.row-quiero {
    width: 75%;
}
.row-botonTareas {
    width: 10%;
}


#tabla_caso_uso_tareas{
    max-height: 500px;
    width: 50%;
    overflow: scroll;
}

#tabla_avance {
    max-height: 500px;
    width: 68%;
    overflow: scroll;
    overflow-x: hidden;
}
#tabla_avance thead th{
    position: sticky;
    top: 0;
    background-color: #343434;
    color: white;
    font-weight: 500;
}
#tabla_avance tbody{
    background-color: white 
}

#tabla_avance table td {
    text-align: center
                ;
}

.boton_añadir{
    margin: 0 5px 5px 10px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.boton_dropdown{
    height: 50px;
    padding: 0 35px;
    line-height: 0;
}

.boton_dropdown i{
    font-size: 2rem;
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
html, body {
    height: 100%;
  }
.max{
    height: 100%;
}

#fases{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    width: 98%;
    margin: 0 auto;
    height: calc(100% - 250px);
}

#fasesVert{
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    height: 600px;
}

#fase{
    background-color: #9abecf;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 8px;
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

#fase-agregar{
    background-color: #e1f5fe;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 8px;
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

#agregar-tarea {
    background-color: #9abecf;
    color: #424242;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 5px;
    margin-right: 10px;
    width: 100%;
}

#agregar-fase {
    background-color: #e1f5fe;
    color: #424242;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 5px;
    margin: 5px 10px 0px 5px;
    margin-right: 10px;
    width: 100%;
}

#faseVert{
    background-color: #9abecf;
    margin: 0 0 10px 0;
    border-radius: 8px;
    width: 100%;
    padding-bottom: 5px;
}

#tarea-en-fase{
    background-color: #e1f5fe;
    color: #424242;
    padding-top:3px;
    padding-bottom: 3px;
    border-radius: 5px;
    margin: 0 10px 5px 10px;
    white-space: normal;
    word-break: keep-all;
    word-wrap: break-word;
}

#titulo-fase{
    text-align: center;
    font-weight: bold;
    color: #424242;
    font-size: large;
    padding-top:5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#fases::-webkit-scrollbar {
    display: none;
}

#fasesVert::-webkit-scrollbar {
    display: none;
}

.bajar_tabla{
    margin-top: 10%;
}

.disminuir_margen{
    height: 0px;
}

.disminuir_padding{
    padding: -20px;
}

.thick{
    font-weight: bold;
}

div#modal5 {
    width: 50%
}
.breadcrubs-nav{
    color : #333333
}
.logout{
    position:fixed; 
    bottom: 10%;
}
.modal_edit{
    width: 20%;
}
.terminarIteracion{
    position:fixed; 
    bottom: 15%;
}
.imagen_card{
    max-height: 150px;
    width: auto;
}
<<<<<<< HEAD
#AvanceIteracion{
    background-color: #ffff;
}
.d-content{
    display: contents;
}
=======

/* AP Promedios */
.ap_promedios {
    align-items: center;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 5px;
}

.ap_promedios th{
    background-color: #343434;
    color: white;
    text-align: center;
    font-weight: bold;
}

.ap_promedios tr:hover{
    background-color: #f5f5f5;
}

.ap_promedios tr{
    text-align: center;
    color:#343434;
}


.ap_promedios tr td:nth-child(1){
    padding-left: 30px;
    font-size: 17px;
    font-weight: normal;
}

.ap_promedios tr td:nth-child(2){
    padding: 30px;
    text-align: center;
}

.ap_promedios tr td:nth-child(3),
.ap_promedios tr td:nth-child(4),
.ap_promedios tr td:nth-child(5),
.ap_promedios tr td:nth-child(6),
.ap_promedios tr td:nth-child(7),
.ap_promedios tr td:nth-child(8)
{
    text-align: center;
}

.ap_promedios tr td:nth-child(3) input,
.ap_promedios tr td:nth-child(4) input,
.ap_promedios tr td:nth-child(5) input,
.ap_promedios tr td:nth-child(6) input,
.ap_promedios tr td:nth-child(7) input,
.ap_promedios tr td:nth-child(8) input
{
    width: 50%;
    padding: 0;
    margin: auto;
    text-align: center;
}

>>>>>>> AP_Promediotabla1542021
