.nav-wrapper{
    background-color: #f8f8f8;
}

#contenedor_colaboradores{
    border: 100px !important;
    border-color: rgb(56, 56, 56);
}

.imagen_estandar{
    width: 10%;
    height: 50px;
}

#boton_casos_uso{
    margin-top: 7%;
}

/* Tareas por caso de uso */
#tabla_caso_uso_tareas{
    max-height: 500px;
    width: 50%;
    overflow: scroll;
}

#tabla_avance {
    max-height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}

#tabla_avance thead th{
    position: sticky;
    top: 0;
    background-color: #343434;
    color: white;
    font-weight: 500;
}

#tabla_avance tbody{
    background-color: white 
}

#tabla_avance table td {
    text-align: center;
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

html, body {
    height: 100%;
}

.no-scroll{
    overflow-y: hidden;
}

.bajar_tabla{
    margin-top: 10%;
}

.disminuir_margen{
    height: 0px;
}

.disminuir_padding{
    padding: -20px;
}

.thick{
    font-weight: bold;
}

div#modal5 {
    width: 50%
}

.breadcrumb{
    color: #343434;
    font-size: 17px;
    text-decoration-line: underline;
}

.breadcrumb:before{
    color: #343434;
    font-size: 20px;
}

.breadcrumb:last-child {
    font-weight: bold;
    color: #343434;
    text-decoration-line: none;
}

.logout{
    position: fixed; 
    width: 100%;
    bottom: 10%;
    
}

.modal_edit{
    width: 20%;
}

.terminarIteracion{
    position:fixed; 
    bottom: 15%;
}

.imagen_card{
    max-height: 150px;
    width: auto;
}

#AvanceIteracion{
    background-color: #ffff;
}

.d-content{
    text-decoration-line: underline;
    display: contents;
}

.column-nombre-fase {
    width: 15%;
}

.column-nombre-tarea {
    width: 25%;
}

.column-estimacionAP {
    width: 10%;
}

#modalAirTable{
    width: 30%;
}

.toast{
    /* top: 15px; */
    margin-top: -50px;
    border-radius: 24px;
}

.card_avance{
    padding-top: 10px !important;
}

.card-title-avance{
    margin: 0px;
}

.boton_ingresar{
    margin-top: 10%;
}

.imagen_login{
    margin-top: 35%;
    width: 100%;
    height: auto;
}

.card_login{
    padding-top: 0.5%;
    margin-top: 3%
}

.responsive_title_login{
    font-size: 5vw;
}

.responsive_text_login{
    font-size: 1.7vw;
}
.login-btn{
    border-radius: 25px;
/* Scrollbar of tables */
/* width */
::-webkit-scrollbar {
    width: 15px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 3px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #494949; 
    border-radius: 3px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #353535; 
}