
#contenedor_colaboradores{
    border: 100px !important;
    border-color: rgb(56, 56, 56);
}

.imagen_estandar{
    width: 10%;
    height: 50px;
}

#boton_casos_uso{
    margin-top: 7%;

}

#tabla_caso_uso{
    max-height: 500px;
    width: 58%;
    overflow: scroll;
}

.boton_añadir{
    margin-top: 100%;
    
}