
#contenedor_colaboradores{
    border: 100px !important;
    border-color: rgb(56, 56, 56);
}

.imagen_estandar{
    width: 10%;
    height: 50px;
}

#boton_casos_uso{
    margin-top: 7%;

}

#tabla_caso_uso{
    max-height: 500px;
    width: 58%;
    overflow: scroll;
}

#tabla_avance {
    max-height: 500px;
    width: 68%;
    overflow: scroll;
}

#tabla_avance table td {
    text-align: center;
}

.boton_añadir{
    margin: 0 10px 5px 10px;
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

#fases{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#fasesVert{
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#fase{
    background-color: #9abecf;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 8px;
    width: 25%;
    display: inline-block;
}

#tarea-en-fase{
    background-color: #e1f5fe;
    color: #424242;
    padding-top:3px;
    padding-bottom: 3px;
    border-radius: 5px;
    margin: 0 10px 5px 10px;
}

#titulo-fase{
    text-align: center;
    font-weight: bold;
    color: #424242;
    font-size: large;
    padding-top:5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#fases::-webkit-scrollbar {
    display: none;
}

.bajar_tabla{
    margin-top: 10%;
}

.disminuir_margen{
    height: 0px;
}

.disminuir_padding{
    padding: -20px;
}

.thick{
    font-weight: bold;
}