
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
<ul class="sidenav sidenav-fixed" id="slide-out">
    <li><div class="user-view">
            <div class="background">
                <img src="https://wallpapercave.com/wp/wp3194552.png">
            </div>
            <a href="#user"><img class="circle"
                    src="https://storage.googleapis.com/natgas/others/logos/natgas-logo-simple.png"></a>
            <a href="#name"><span class="white-text name">Bernardo Laing</span></a>
            <a href="#email"><span class="white-text email">bernardo@email.com</span></a>
        </div></li>
    <li><a class="subheader"><i class="material-icons right">cloud</i>Proyecto</a></li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect" href="/proyectos/resumen-proyecto">Resumen</a></li>
    <li><a class="waves-effect" href="/proyectos/casos-uso-proyecto">Casos de Uso</a></li>
    <li><a class="waves-effect" href="/proyectos/fases-proyecto">Fases</a></li>

    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Cálculo de Tiempos<i
                        class="material-icons right">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="#!">Estimación AP</a></li>
                        <li><a href="/proyectos/capacidad-equipo">Capacidad de Equipo</a></li>
                        <li><a href="/proyectos/tarea-caso-uso">Tareas por caso de uso</a></li>
                        <li><a href="/proyectos/promedios-ap">Promedios AP</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li><a class="waves-effect" href="/proyectos/avance-proyecto">Avance del proyecto</a></li>
</ul>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        M.AutoInit();
    });
</script>