<div class="row">
    <div class="col s8 offset-s3" >
      <table class="ap_promedios">
        <thead>
          <tr>
            <th>Fases</th>
            <th>Tareas</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>5</th>
            <th>8</th>
            <th>13</th>
          </tr>
        </thead>
        
        <tbody>
          <% let i=0; %>
          <% while(i < lista_promedios.length) { %>
            <tr>
              <% let idFase = lista_promedios[i].id_fase %>
              <% let idTarea = lista_promedios[i].id_tarea %>
              
              <td><%= lista_promedios[i].nombre_fase %></td>
              <td><%= lista_promedios[i].nombre_tarea %></td>
              
              <% let j = i; %>
              <% for(j=i; j < i+6, j < lista_promedios.length; j++) { %>
                <% if(lista_promedios[j].id_fase === idFase && lista_promedios[j].id_tarea === idTarea) { %>
                  <td><%= lista_promedios[j].promedio_minutos %></td>    
                <% } else { %>
                  <% break; %>
                <% } %>
              <% } %> 
              <% i = j; %>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>