<main>
    <div class="row ">
        <div class="col s10 offset-s1 ">
            <% if (navegacion == 1) { %>
                <a href="/home" class="breadcrubs-nav">Home</a>
                <a href="/proyectos/iteraciones-desarrollo-proyecto" class="breadcrubs-nav"> > <%=proyecto_actual%></a>
            <% } else if (navegacion == 2){ %>
                <a href="/home" class="breadcrubs-nav">Home</a>
                <a href="/proyectos/iteraciones-desarrollo-proyecto" class="breadcrubs-nav"> > <%=proyecto_actual%></a>
                <a href="" class="breadcrubs-nav"> > <%=title%></a>
            <% } %> 
        </div>
    </div>
</main>