<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons black-text">menu</i></a>
<main>
        <div class="row nav-wrapper">
            <div class="col s10 offset-s1 ">
                    <a href="/home" class="breadcrumb">Inicio</a>
                    <a href="/proyectos/iteraciones-desarrollo-proyecto" class="breadcrumb"><%=proyecto_actual%></a>
                    <a href="/proyectos/avance-proyecto" class="breadcrumb">IT<%=num_iteracion%></a>
                    <a href="" class="breadcrumb"><%=title%></a>
            </div>
        </div>
</main>
