
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
<ul class="sidenav sidenav-fixed" id="slide-out">
    <li><div class="user-view">
        <div class="background">
            <img src="https://wallpapercave.com/wp/wp3194552.png">
        </div>
        <a href="#user"><img class="circle" src="https://storage.googleapis.com/natgas/others/logos/natgas-logo-simple.png"></a>
        <a href="#name"><span class="white-text name">Bernardo Laing</span></a>
        <a href="#email"><span class="white-text email">bernardo@email.com</span></a>
        </div>
    </li>

    <li><a href="/users/logout"><i class="material-icons right">input</i>Logout</a></li>

    <li><a class="waves-effect waves-light btn" href="/proyectos/nuevo-proyecto"><i class="material-icons left">add</i>Crear Proyecto</a>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect" href="#!">En desarrollo</a></li>
    <li><a class="waves-effect" href="#!">Terminado</a></li>
    
</ul>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        M.AutoInit();
    });
</script>