
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
<ul class="sidenav sidenav-fixed" id="slide-out">
    <li><div class="user-view">
            <div class="background">
                <img src="https://wallpapercave.com/wp/wp3194552.png">
            </div>
            <a href="#user"><img class="circle"
                    src="https://storage.googleapis.com/natgas/others/logos/natgas-logo-simple.png"></a>
            <a href="#name"><span class="white-text name">Bernardo Laing</span></a>
            <a href="#email"><span class="white-text email">bernardo@email.com</span></a>
        </div>
    </li>

    <li><a href="http://localhost:3000/proyectos/iteraciones-proyecto-desarrollo"><i class="material-icons right">apps</i>Proyecto</a></li>
    
    <li><div class="divider"></div></li>
    <li><a class="waves-effect" href="/proyectos/resumen-proyecto">Resumen</a></li>
    <li><a class="waves-effect" href="/proyectos/capacidad-equipo">Capacidad de Equipo</a></li>
    <li><a class="waves-effect" href="/proyectos/casos-uso-iteracion">Casos de Uso</a></li>    
    <li><a class="waves-effect" href="/proyectos/tarea-caso-uso">Tareas por caso de uso</a></li>
    <li><a class="waves-effect" href="/proyectos/avance-proyecto"><i class="material-icons right">timeline</i>Avance de la iteración</a></li>
</ul>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        M.AutoInit();
    });
</script>