<%- include('breadcrumbsPrincipal.ejs'); %>
<ul class="sidenav sidenav-fixed" id="slide-out">
    <li><div class="user-view">
        <div class="background">
            <img src="https://wallpapercave.com/wp/wp3194552.png">
        </div>
        <a ><img class="circle resposive-image materialboxed"   src="<%=imagen_empleado%>" width="60" height="60"></a>
        <div class="row valign-wrapper">
            <div class="col s9">
                <a href="/users/settings"><span class="white-text name"><%=user%></span></a>
                <a href="/users/settings"><span class="white-text email"><%=user%>@email.com</span></a>
            </div>
            <div class="col s2 offset-s1">
                <a href="/users/settings"><i class="white-text material-icons">settings</i></a>
            </div>
        </div>
        </div>
    </li>


    <li><a class="waves-effect waves-light btn" href="/proyectos/nuevo-proyecto"><i class="material-icons left">add</i>Crear Proyecto</a>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect" href="#!">En desarrollo</a></li>
    <li><a class="waves-effect" href="#!">Terminado</a></li>

    <li class="logout"><a href="/users/logout"><i class="material-icons right">input</i>Salir &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a></li>
    
</ul>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        M.AutoInit();
    });
</script>